<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CCPActionSheetDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E1EF20E1D3FBFAE00F21012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E1EF2271D3FBFAE00F21012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E1EF2321D3FBFAE00F21012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
